@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
	font-family: 'Poppins';
}
.navbar
{
  background: linear-gradient(to right,#26D0CE,#1A2980);
  z-index: 99999;
}
.navbar-brand
{
  font-family: 'Trade Winds';
  font-size: 2em !important;
  text-decoration: none;
}
.navbar a
{
  color: #fff !important;
}
.navbar .navbar-nav .nav-item .nav-link
{
  font-family: 'Poppins' !important;
  margin-right: 30px;
}
.navbar-toggler
{
  outline: none !important;
}
.navbar-toggler i
{
  margin-top: 10px;
  color: #fff;
  font-size: 25px;
}
@media only screen and (max-width: 700px)
{
  .navbar
  {
    padding: 0 !important;
    margin: 0;
  }
  .navbar .navbar-nav .nav-item .nav-link
  {
    width: 100%;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: #000 !important;
  }
  .navbar-collapse
  {
    width: 100%;
    background: #fff;
    padding: 0 !important;
    margin: 0 !important;
  }
  #collapsibleNavbar
  {
    margin-top: -20px !important;
  }
  .navbar-brand
  {
    margin-left: 20px;
  }
  .navbar-toggler
  {
    margin-right: 20px;
  }
}