@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
	font-family: 'Poppins';
}
body
{
	margin:0;
	padding: 0;
}
.form-sub h3
{
	font-weight: 600;
}
.form-sub label
{
	text-align: left;
	font-size: 18px;
	color: #000;
	font-weight: 600;
}
sup
{
	color: #f00;
}
.form-sub input
{
	background: rgba(167, 164, 164, 0.08);
	transition: .5s;
}
.form-sub input::placeholder
{
	color: #fff;
}
.form-sub input:focus::placeholder
{
	color: #000;
}
.form-sub input[type="file"]
{
	background: #fff;
}
.form-sub .submit
{
	position: relative;
	width: 200px;
	height: 50px;
	border: none;
	outline: none !important;
	background: #4834d4;
	color: #fff;
	z-index: 1;
	transition: .5s;
}
.form-sub .submit:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: -1;
	background: #0984e3;
	border-radius: 5px;
	transition: .5s;
}
.form-sub .submit:hover:before
{
	width: 100%;
}
.form-sub .submit:hover
{
	background: transparent;
}
.form-sub span
{
	z-index: 1;
}
table th {
    width: auto !important;
}
@media only screen and (max-width: 600 px)
{
	.form-sub
	{
		width: 100%;
	}
	.form-sub .submit
	{
		width: 100%;
	}
}

input[type=radio] {
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    margin: 5px;
}

.login-input{
    background: rgba(78, 73, 73, 0.31) !important;
}

.navbar-nav .dropdown-menu {
    background-color: #218aad !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #1113131f;
}

or-head{
    padding: 10px;
}

.swal-title {
    color: #000 !important;
    font-size: 24px !important;
}

.swal-button {
    background-color: #1c438c !important;
}

.error{
    font-size: 12px !important;
    color: red !important;
    margin-bottom: 3px;
    padding: 4px;
}