<footer class="page-footer font-small blue pt-4">
    <section style="width:100%">
        <div class = "page-header" style="padding-left:50px;padding-top:30px;background:black;">
           <div class="row">
               <div class="col-md-4">
                   <h4 style="color:white;font-family:Poppins;">ABOUT US</h4>
               </div>
               <div class="col-md-3">
                   <h4 style="color:white;font-family:Poppins;padding-left:90px;">Services</h4>
               </div>
               <div class="col-md-5">
                   <h4 style="color:white;font-family:Poppins;">Contact Us</h4>
               </div>
           </div>
           <div class="row">
               <div class="col-md-4">
                   <p style="color:white;font-family:Poppins;">FedChoice Bank was founded in 14th june 2020 with the objective of providing with detailed services of Retail Banking operations. The Internet Retail Banking of FedChoice offers a plothora of services and products,to cater its customer by providing certain services with easy volving offers and a way to do the required job without hurdling the process. </p>
               </div>
               <div class="col-md-3">
                   <span style="color:white;font-family:Poppins;">Retail and Consumer Banking</span><br>
                   <span style="color:white;font-family:Poppins;">Personal Internet Banking</span><br>
                   <span style="color:white;font-family:Poppins;">Corporate Internet Banking</span><br>
                   <span style="color:white;font-family:Poppins;">Debit and Credit Cards</span><br>
               </div>
               <div class="col-md-5">
                   <span style="color:white;font-family:Poppins;">Email:customer.service@fedchoice.com</span><br>
                   <span style="color:white;font-family:Poppins;">Contact number:027896543,0987245</span><br>
                   <span style="color:white;font-family:Poppins;">Address:Coporate Office,Madame Cama Road,Mumbai 400021</span>
               </div>
            </div>
                <div class="footer-copyright text-center py-3" style="color:blue;">© 2020 Copyright:
                    <a href="#"> FedChoice Bank.com</a>
                </div>
        </div>
    </section>
</footer>