<section>
    <div class = "page-header" style="padding-left:100px;padding-top:30px;background:black;">
       <h1 style="color:#fff">
          FedChoice Bank
       </h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:90%;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Customer Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/create_customer">Create Customer</a>
                      <a class="dropdown-item" href="/update_customer">Update Customer</a>
                      <a class="dropdown-item" href="/delete_customer">Delete Customer</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                      <a class="dropdown-item" href="/create_account">Create Account</a>
                      <a class="dropdown-item" href="/delete_account">Delete Account</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Status Details
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <a class="dropdown-item" href="/customer_status">Customer Status</a>
                      <a class="dropdown-item" href="/account_status">Account Status</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account Operations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">Logout</a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
