{% extends 'base.html' %}
{% include 'navbar_cashier.html' %}
{% block content %}
{% if accounts is not none %}
    <section id="form">
	    <div class="container py-4">
		    <div class="form-sub py-4" style="width: 60%;margin: 0 auto;margin-top:10px;">
				<h3 class="text-center text-uppercase">WITHDRAW MONEY</h3><br>
                {% for account in accounts %}
                <form action="/withdraw" method="post">
                  <div class="form-group row">
                      <input type="hidden" name="acc_id" value="{{ account.acc_id }}"/>
                    <label class="col-md-4 col-form-label">Customer Id</label>
                    <div class="col-md-6">
                      <span style="font-size:23;">{{ account.cust_id }}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Account Id</label>
                    <div class="col-md-6">
                      <span style="font-size:23;">{{ account.acc_id }}</span>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-md-4 col-form-label">Account Type</label>
                    <div class="col-md-6">
                      <span style="font-size:23;">{{ account.type }}</span>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-md-4 col-form-label">Balance</label>
                    <div class="col-md-6">
                      <span style="font-size:23;">{{ account.amount }}</span>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-md-4 col-form-label">Withdraw Amount<sup>*</sup></label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" name="amount" value="" required/>
                    </div>
                  </div>
                  <div class="text-right">
                           <center> <button class="my-3 btn submit"><span>Submit</span></button></center>
                  </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </section>
{% else %}
    <section id="form1">
	    <div class="container py-4">
		    <div class="form-sub py-4" style="width: 60%;margin: 0 auto;margin-top:10px;">
				<h3 class="text-center text-uppercase">WITHDRAW MONEY</h3><br>
                <form action="/withdraw" method="get">
                  <div class="form-group row">
                      <div class="col-md-1 my-2">
                        <input type="radio" class="form-control" value="ssn" name="group" checked/>
                      </div>
                      <label class="col-md-3 col-form-label">SSN Id</label>
                      <div class="col-md-6">
                      <input type="text" id="ssn" class="form-control" name="ssn_id" value="" required/>
                    </div>
                  </div>
                    <h4 class="text-center text-uppercase or-head">OR</h4>
                  <div class="form-group row">
                      <div class="col-md-1 my-2">
                        <input type="radio" class="form-control" value="cus" name="group"/>
                      </div>
                    <label class="col-md-3 col-form-label">Customer Id</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="cus" name="cust_id" value="" required disabled/>
                    </div>
                  </div>
                    <h4 class="text-center text-uppercase or-head">OR</h4>
                    <div class="form-group row">
                      <div class="col-md-1 my-2">
                        <input type="radio" class="form-control" value="acc" name="group"/>
                      </div>
                    <label class="col-md-3 col-form-label">Account Id</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="acc" name="acc_id" value="" required disabled/>
                    </div>
                  </div>
                    <div class="text-right" style="margin-left:220px;">
                            <button class="my-3 btn submit"><span>Submit</span></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endif %}
<script>
    $(document).ready(function(){
        $('input[type=radio]').click(function(){
            if($(this).val() == 'ssn'){
                $('#ssn').prop('disabled', false);
                $('#cus').prop('disabled', true);
                $('#acc').prop('disabled', true);
            }
            if($(this).val() == 'cus'){
                $('#ssn').prop('disabled', true);
                $('#cus').prop('disabled', false);
                $('#acc').prop('disabled', true);
            }
            if($(this).val() == 'acc'){
                $('#ssn').prop('disabled', true);
                $('#cus').prop('disabled', true);
                $('#acc').prop('disabled', false);
            }
        });
    });
</script>
{% include 'footer.html' %}
{% endblock content %}
